.container-fluid {
    padding: 20px;
}

.page-heading {
    text-align: center;
    padding: 10px;
}

.annotation-input-headings-row {
    margin: 5px;
}

.annotation-input-fields-row { 
    margin: 5px;
}